
.task {
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: #CC39500C;
    font-size: 16px;
    max-width: 60%;
    margin: 40px auto;
}

.description{
    margin: 20px 10px 20px 10px;
    font-size: 20px;
    text-align: center;
}

.title{
    font-size: 35px;
    opacity: 0.8;
    text-align: center;
}

.fildsDescription{
    font-size: 23px;
    font-style: italic;
    font-weight: 500;
    color: #b7348f;
}

.taskDescription{
    font-size: 23px;
}

.iconsWrapper{
    display: flex;
    justify-content: space-between;
}

.archiveIcon:hover{
    cursor: pointer;
    opacity: 0.8;
} 

.statusActiveStar{
    color: #b7348f;
    float: right;
}

.editIcon:hover{
    cursor: pointer;
    opacity: 0.8;
}



.editIcon{
    font-size: 25px;
}

.statusActive, .statusDone{
    font-size: 27px;
}

.statusActive:hover{
    cursor: pointer;
    opacity: 0.8;
}

.statusDone:hover{
    cursor: pointer;
    opacity: 0.8;
}

.showDetails{
    font-size: 25px;
    filter: drop-shadow(3px 3px 2px #b7348f);
    color: black;
    text-decoration: none;
}

.showDetails:hover{
    cursor: pointer;
    opacity: 0.8;
    color:black;
}

.taskNotFound{
    font-size: 35px;
    filter: drop-shadow(3px 3px 2px #b7348f);
    margin-top:40px;
}

.goToHomePage {
    color: #b7348f;
    text-decoration: none;
    font-size: 25px;
    margin-top:50px;
}

.goToHomePage:hover {
    color: #b7348f;
    opacity: 0.7;
}












