.formContainer {
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textArea {
    height: 140px;
}

.inputStyle {
    width: 420px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.7);
}

.labelStyle {
    font-size: 20px;
    color: #b7348f;
}

.sendInfoButton {
    width: 200px;
}

.errorMessage {
    filter: drop-shadow(3px 3px 2px #b7348f);
    border: 0.5px solid #b7348f;
    padding: 5px 0;
    width: 260px;
    margin:0 auto;
}

.invalid {
    border: 2px solid rgba(183, 52, 143, 0.5);
}