.new-task-input {
    background-color: #9439A60C;
}

.btn-style{
    background-color : #E1B6D5;
    color:black;
}

.btn-style:hover {
    background-color: #E1B6D5 !important;
    opacity: 0.7;
}

.btn-hide{
    display: none;
}

.btn-disabled {
    pointer-events: none;
}







