.form{
    width: calc(100% - 40px);
}

.filterItem{
    font-size: 10px;
}

.filterItem>legend, .myLegend{
    font-size: 20px;
    margin-bottom: 0px;
}

.datePicker{
    font-size: 17px;
    text-align: center;
    width: 170px;
    border: 1px solid #b7348f;
    background-color: rgba(241,	230,	239, 0.4);
    border-radius: 5px;
    padding: 2px !important;
}

.myFormSelect{
    border: 1px solid #bb529c;
    background-color: rgba(241,	230,	239, 0.2);
}

.iconSearch {
    background-color : #CC39500C;
}

.iconSearch:hover {
    background-color : #CC39500C;
    opacity: 0.7;
}

.iconSearch:active {
    background-color : #CC39500C;
    opacity: 0.7;
}

.iconSearch:not(:disabled):not(:disabled):active {
    background-color : #CC39500C;
    opacity: 0.7;
} 

.icon{
    color: #9b1575;
}

.icon:hover{
    opacity: 0.7;;
}

.iconResetFilters {
    background-color : #f5e2ef;
}

.iconResetFilters:hover {
    background-color : #f5e2ef;
    opacity: 0.7;
}

.iconResetFilters:active {
    background-color : #f5e2ef;
    opacity: 0.7;
}

.iconResetFilters:not(:disabled):not(:disabled):active {
    background-color : #f5e2ef;
    opacity: 0.7;
} 

.iconReset {
    color: black;
    opacity: 0.8;
}

.iconReset:hover{
    opacity: 0.7;;
}







